*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.703);
    display: flex;
    flex-direction: row;
}

.footer{
    width: 100%;
    height: 170px;
    display: flex;
    background-color: black;
    flex-direction: column;
}

.footer__box{
    width: 100%;
    height: 120px;
    flex-direction: row;
    display: flex;
    background-color: black;
}

.footer__box__contact{
    width: 50%;
    height: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.footer__box__button{
    width: 50%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__h1{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer__box__button__main{
    width: 30%;
    height: 50%;
    background-color: red;
    display: flex;
}

.menu__logo{
    height: 100px;
    width: 15%;
}

.menu__main{
    height: 100px;
    width: 70%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.menu__icons{
    height: 100px;
    width: 15%;
    color: white;
}

img{
    width: 200px;
    height: 100px;
}

.menu__icons{
    flex-direction: row;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    color: white;
}

.menu__main__products{
    color: white;
    text-decoration: none;
}

.menu__main__aboutus{
    color: white;
    text-decoration: none;
}

.menu__main__contact{
    color: white;
    text-decoration: none;
}

.menu__icons__person{
    color: white;
    text-decoration: none;
}

.menu__icons__cart{
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        height: 200px;
        padding: 1rem 0;
        text-align: center;
    }

    .menu__main {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .menu__icons {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .menu__logo img {
        display: none;
    }

    .footer__box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .footer__box__contact{
        justify-content: center;
        align-items: center;
    }

    .footer__box__button__main {
        width: auto;
    }
}