*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
}

body{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    height: auto;
}

.site{
    width: 100%;
    height: 150%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}

.footer{
    width: 100%;
    height: 20px;
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    position: fixed;
    bottom: 0;
  
}

.footer__h1{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.footer__box__button__main{
    width: 30%;
    height: 50%;
    background-color: red;
    display: flex;
}

.menu__logo{
    height: 80px;
    width: 15%;
    border: 0;
}

.menu__main{
    height: 80px;
    width: 70%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

img{
    width: 160px;
    height: 80px;
}

.menu__icons{
    flex-direction: row;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 15%;
}

.icon{
    width: 35px;
    height: 35px;
}

.menu__main__products{
    color: black;
    text-decoration: none;
    height: 50%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.menu__main__aboutus{
    color: black;
    text-decoration: none;
    height: 50%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.menu__main__contact{
    color: black;
    text-decoration: none;
    height: 50%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.menu__icons__person{
    color: black;
    text-decoration: none;
}

.menu__icons__cart{
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        height: 200px;
        text-align: center;
    }

    .menu__logo{
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
      display: flex;
    }

    .menu__logo__img{
      width: 100px;
      height: auto;
    }

    .menu__main {
        gap: 1rem;
        width: 100%;
        gap: 0;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

    }

    .menu__icons {
      justify-content: center;
      display: flex;
      gap: 20px;
      position: absolute;
      z-index: 1;
      top: 0;
      padding-left: 50px;
    }

    .menu__main__products, .menu__main__aboutus, .menu__main__contact{
      display: flex;
      border: none;
      font-size: 15px;
    }


    .footer__box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .footer__box__contact{
        justify-content: center;
        align-items: center;
    }

    .footer__box__button__main {
        width: auto;
    }
}


.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black; 
  transition: width 0.4s ease; 
}

.underline:hover::after {
  width: 100%;
}

.underline{
    color: black;
    text-decoration: none;
    height: 50%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.144);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.productbox {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.hero{
    width: 98%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 80px;
}

.background{
    width: 100%;
    height: 100%;
    display: flex;
    
}

.productbox__main{
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productbox {
    position: absolute;
    display: flex;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: start;
    margin: auto;
    padding-left: 50px;
    align-items: center;
    flex-direction: row;
    gap: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

.deep{
  width: 80%;
  height: 80%;
}

.vitamin{
  width: 100%;
  height: 100%;
}

.test{
  width: 130%;
  height: 90%;
}

.productbox__main__head{
  width: 100%;
  text-align: center;
  height: 50%;
  font-weight: bolder;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 80px ;
  border-bottom: solid white 3px;
  color: white;
}

.productbox__main__base{
  width: 100%;
  text-align: block;
  height: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px ;
  color: white;
}

.about-us{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-us__text{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.about-us__photo{
    width: 80%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: red;
}

.about-us__people{
    width: 100%;
    height: 900px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-us__people__box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 10px 37px 6px rgba(0,0,0,0.75);
    border-radius: 5%;
    margin: 30px;
}

.about-us__people__box__photo img{
  height: 100%;
  width: 100%;
  display: flex;
}

.about-us__people__box__photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us__people__box__text{
    font-weight: bolder;
}

.box{
  display: flex;
  width: 100%;
  height: 2100px;
  flex-direction: column;
}

.box__product{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
}

.box__product__photo1{
  width: 40%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background3.png");
  margin-left: 50px;
  margin-top: 50px;
    border-radius: 10px 10px 10px 10px;
    height: 90%;
}

.box__product__photo2{
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
    background-image: url("../images/background1.png");
      margin-right: 50px;
  margin-top: 50px;
    border-radius: 10px 10px 10px 10px;
}

.box__product__photo3{
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
    background-image: url("../images/background2.png");
      margin-left: 50px;
  margin-top: 50px;
    border-radius: 10px 10px 10px 10px;
}

.box__product__photo1 img{
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__product__photo2 img{
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__product__photo3 img{
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



.box__product__text{
  width: 60%;
  height: 500px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box__product__text__base{
    padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
}

.box__product__text__head{
  font-weight: bolder;
  font-size: 60px;
  padding-top: 50px;
}

.about-us__people__box:hover{
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .about-us {
    padding: 1rem 0;
  }

  .about-us__photo {
    width: 90%;
    height: 500px;
    background-color: red;
  }

  .about-us__text {
    font-size: 22px;
    padding: 0 1rem;
  }

  .about-us__people {
    flex-direction: column;
    height: auto;
    flex-wrap: nowrap;
  
  }

  .about-us__people__box {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin: 15px 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .about-us__people__box__photo img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

   .about-us__people__box__photo{
    justify-content: center;
    align-items: center;
    display: flex;
  }
   }

  .about-us__people__box__text {
    font-size: 18px;
    margin-top: 10px;
  }

  .about-us__people__box__pozice {
    font-size: 14px;
  }

@media (max-width: 768px) {

  .productbox {
    gap: 30px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    width: 90%;
  }

  .productbox__main {
    width: 50%;
  }

  .productbox__main__head {
    font-size: 36px;
  }
  .productbox__main__base{
    font-size: 14px;
  }
}

@media (max-width: 1024px) {

  .productbox {
    flex-direction: column;
    gap: 50px;
    padding-left: 0;
    margin: auto;
    align-items: center;
  }

    .productbox__main img{
    display: none;
  }


  .productbox__main {
    width: 80%;
  }

  .productbox__main__head {
    font-size: 50px;
  }

  .productbox__main__base {
    font-size: 18px;
    text-align: center;
  }

  .box__product {
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-bottom: 80px;
  }

  .box__product__photo1,
  .box__product__photo2,
  .box__product__photo3 {
    width: 80%;
    margin: 0;
    margin-top: 40px;
  }

  .box__product__text {
    width: 90%;
    height: auto;
  }

  .box__product__text__base {
    padding: 50px 80px;
  }

  .box__product__text__head {
    font-size: 40px;
  }

  .background {
    object-fit: cover;
  }
}

/* MOBILY (max 768px) */
@media (max-width: 768px) {

  /* Hero sekce a slideshow */
    .hero{
    padding-top: 300px;
  }


    .productbox__main img{
    display: none;
  }


  .productbox {
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0 auto;
  }

  .productbox__main {
    width: 90%;
  }

  .productbox__main__head {
    font-size: 35px;
  }

  .productbox__main__base {
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
  }

  .deep, .vitamin, .test {
    width: 80%;
    height: auto;
  }

  /* Box s produkty */
  .box {
    height: auto;
  }

  .box__product {
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-bottom: 60px;
  }

  .box__product__photo1,
  .box__product__photo2,
  .box__product__photo3 {
    width: 90%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
  }

  .box__product__text {
    width: 95%;
    padding: 20px;
    text-align: center;
  }

  .box__product__text__head {
    font-size: 30px;
  }

  .box__product__text__base {
    padding: 20px;
    font-size: 15px;
  }

  /* Menu */
  .menu {
    flex-direction: column;
    height: auto;
  }

  .menu__main {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu__main__products,
  .menu__main__aboutus,
  .menu__main__contact {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px 0;
  }

  .menu__logo img {
    width: 120px;
    height: auto;
  }

    .productbox__main img{
    display: none;
  }


  .menu__icons {
    position: static;
    margin-top: 10px;
  }

    .productbox{
    display: none;
  }

  /* Footer */
  .footer {
    position: relative;
    height: auto;
    padding: 10px 0;
  }

  .footer__h1 {
    font-size: 10px;
  }
}

/* EXTRA SMALL (max 480px) */
@media (max-width: 480px) {

  .productbox__main__head {
    font-size: 28px;
  }

  .productbox__main img{
    display: none;
  }

  .productbox__main__base {
    font-size: 14px;
  }

  .box__product__text__head {
    font-size: 26px;
  }

    .hero{
    padding-top: 300px;
  }

  .productbox{
    display: none;
  }

  .box__product__text__base {
    font-size: 14px;
    padding: 10px;
  }

  .menu__main__products,
  .menu__main__aboutus,
  .menu__main__contact {
    font-size: 14px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }
}

.hero__nabidka1{
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero__nabidka2{
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}


.hero__nabidka3{
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}


.hero2{
  justify-content: center;
  display: flex;
  width: 100%;
  height: 900px;
  flex-direction: column;
  padding-top: 200px;
}

.hero__nabidka1__img img{
  width: auto;
  height: 300px;
}

.hero__nabidka1:hover{
  background-image: url("../images/background3.png");
}

.hero__nabidka12__img img{
  width: auto;
  height: 300px;
}

.hero__nabidka2:hover{
  background-image: url("../images/background1.png");
}

.hero__nabidka3__img img{
  width: auto;
  height: 300px;
}

.hero__nabidka3:hover{
  background-image: url("../images/background2.png");
}

.hero__nabidka2__img img{
  width: auto;
  height: 300px;
}

.hero__nabidka3__img img{
  width: auto;
  height: 300px;
}


.hero3{
  justify-content: center;
  display: flex;
  width: 100%;
  height: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 100px;
  background-image: url("../images/pozadicko.png");
}

.hero__other{
  width: 400px;
  height: 350px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.381);
  justify-content: center;
  border-radius: 20px;
  margin-top: 60px;
}

.hero__other img{
    width: auto;
  height: 300px;
}

.hero__other img:hover{

  transform: scale(1.2);
}

.hero__nabidka1__img img:hover{

  transform: scale(1.2);
}

.hero__nabidka2__img img:hover{

  transform: scale(1.2);
}

.hero__nabidka3__img img:hover{

  transform: scale(1.2);
}

.heroproduct {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding-top: 100px;
    
}

.heroproduct__photobox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.heroproduct__photobox img {
    width: auto;
    max-width: 100%;
    height: 70%;
    border-radius: 15px;
}

.heroproduct__textbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 50px;
    min-height: 400px;
    text-align: center;
}

.heroproduct__textbox__head {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.heroproduct__textbox__base {
    font-size: 16px;
    line-height: 1.6;
}

.heroproduct__textbox__button {
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.heroproduct__textbox__button:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .heroproduct__textbox__head {
        font-size: 36px;
    }

    .heroproduct__textbox__base {
        font-size: 15px;
        padding: 0 40px;
    }

    .heroproduct__textbox__button {
        padding: 12px 30px;
    }

        .heroproduct {
        padding-top: 300px;
    }

}

@media (max-width: 768px) {
    .heroproduct {
        flex-direction: column;
        padding: 30px 20px;
        padding-top: 300px;
    }

    .heroproduct__photobox, 
    .heroproduct__textbox {
        width: 100%;
        min-height: auto;
    }

    .heroproduct__textbox__head {
        font-size: 28px;
    }

    .heroproduct__textbox__base {
        font-size: 14px;
        padding: 0 20px;
    }

    .heroproduct__textbox__button {
        width: 80%;
        max-width: 300px;
        padding: 12px 20px;
    }

    .heroproduct__photobox img {
        height: auto;
        max-height: 300px;
    }
}

@media (max-width: 480px) {
    .heroproduct__textbox__head {
        font-size: 24px;
    }

    .heroproduct__textbox__base {
        font-size: 13px;
        padding: 0 15px;
    }

    .heroproduct__textbox__button {
        width: 100%;
        padding: 10px 15px;
    }

        .heroproduct {
        padding-top: 300px;
    }

}








@media (max-width: 1024px) {
    .hero__nabidka1__img img,
    .hero__nabidka2__img img,
    .hero__nabidka3__img img {
        height: 250px;
    }

    .hero__other {
        height: 300px;
    }

    .hero__other img {
        height: 250px;
    }

    .footer{
    width: 100%;
    height: 20px;
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    position: fixed;
    bottom: 0;
  
}
}

@media (max-width: 768px) {
    .hero2 {
        flex-direction: column;
        gap: 20px;
    }

    .hero3 {
        gap: 15px;
    }

    .hero__other {
        flex: 1 1 45%;
        max-width: 45%;
        height: 250px;
    }

    .hero__other img {
        height: 200px;
    }

    .footer{
    width: 100%;
    height: 20px;
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    position: fixed;
    bottom: 0;
  
}
}

@media (max-width: 480px) {
    .hero__other {
        flex: 1 1 90%;
        max-width: 90%;
        height: 200px;
    }

    .hero__other img {
        height: 150px;
    }

    .hero__nabidka1__img img,
    .hero__nabidka2__img img,
    .hero__nabidka3__img img {
        height: 200px;
    }

    .hero3{
    background-image: none;
    }

.footer{
    width: 100%;
    height: 20px;
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    position: fixed;
    bottom: 0;
  
}
}






