*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
}

body{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    height: auto;
}

.site{
    width: 100%;
    height: 150%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}

.footer{
    width: 100%;
    height: 20px;
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    position: fixed;
    bottom: 0;
  
}

.footer__h1{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.footer__box__button__main{
    width: 30%;
    height: 50%;
    background-color: red;
    display: flex;
}

.menu__logo{
    height: 80px;
    width: 15%;
    border: 0;
}

.menu__main{
    height: 80px;
    width: 70%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

img{
    width: 160px;
    height: 80px;
}

.menu__icons{
    flex-direction: row;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 15%;
}

.icon{
    width: 35px;
    height: 35px;
}

.menu__main__products{
    color: black;
    text-decoration: none;
    height: 50%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.menu__main__aboutus{
    color: black;
    text-decoration: none;
    height: 50%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.menu__main__contact{
    color: black;
    text-decoration: none;
    height: 50%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.menu__icons__person{
    color: black;
    text-decoration: none;
}

.menu__icons__cart{
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        height: 200px;
        text-align: center;
    }

    .menu__logo{
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
      display: flex;
    }

    .menu__logo__img{
      width: 100px;
      height: auto;
    }

    .menu__main {
        gap: 1rem;
        width: 100%;
        gap: 0;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

    }

    .menu__icons {
      justify-content: center;
      display: flex;
      gap: 20px;
      position: absolute;
      z-index: 1;
      top: 0;
      padding-left: 50px;
    }

    .menu__main__products, .menu__main__aboutus, .menu__main__contact{
      display: flex;
      border: none;
      font-size: 15px;
    }


    .footer__box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .footer__box__contact{
        justify-content: center;
        align-items: center;
    }

    .footer__box__button__main {
        width: auto;
    }
}


.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black; 
  transition: width 0.4s ease; 
}

.underline:hover::after {
  width: 100%;
}

.underline{
    color: black;
    text-decoration: none;
    height: 50%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.144);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.productbox {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.hero{
    width: 98%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 80px;
}

.background{
    width: 100%;
    height: 100%;
    display: flex;
    
}

.productbox__main{
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productbox {
    position: absolute;
    display: flex;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: start;
    margin: auto;
    padding-left: 50px;
    align-items: center;
    flex-direction: row;
    gap: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

.deep{
  width: 80%;
  height: 80%;
}

.vitamin{
  width: 100%;
  height: 100%;
}

.test{
  width: 130%;
  height: 90%;
}

.productbox__main__head{
  width: 100%;
  text-align: center;
  height: 50%;
  font-weight: bolder;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 80px ;
  border-bottom: solid white 3px;
  color: white;
}

.productbox__main__base{
  width: 100%;
  text-align: block;
  height: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px ;
  color: white;
}

.about-us{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-us__text{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.about-us__photo{
    width: 80%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: red;
}

.about-us__people{
    width: 100%;
    height: 900px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-us__people__box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 10px 37px 6px rgba(0,0,0,0.75);
    border-radius: 5%;
    margin: 30px;
}

.about-us__people__box__photo img{
  height: 100%;
  width: 100%;
  display: flex;
}

.about-us__people__box__photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us__people__box__text{
    font-weight: bolder;
}

.box{
  display: flex;
  width: 100%;
  height: 1500px;
  flex-direction: column;
}

.box__product{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.box__product__photo{
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.box__product__photo img{
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__product__text{
  width: 60%;
  height: 500px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box__product__text__base{
  padding-left: 100px;
  padding-right: 100px;
}

.box__product__text__head{
  font-weight: bolder;
  font-size: 60px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .about-us {
    padding: 1rem 0;
  }

  .about-us__photo {
    width: 90%;
    height: 500px;
    background-color: red;
  }

  .about-us__text {
    font-size: 22px;
    padding: 0 1rem;
  }

  .about-us__people {
    flex-direction: column;
    height: auto;
    flex-wrap: nowrap;
  
  }

  .about-us__people__box {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin: 15px 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .about-us__people__box__photo img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

   .about-us__people__box__photo{
    justify-content: center;
    align-items: center;
    display: flex;
  }
   }

  .about-us__people__box__text {
    font-size: 18px;
    margin-top: 10px;
  }

  .about-us__people__box__pozice {
    font-size: 14px;
  }

@media (max-width: 768px) {

  .productbox {
    gap: 30px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    width: 90%;
  }

  .productbox__main {
    width: 50%;
  }

  .productbox__main__head {
    font-size: 36px;
  }
  .productbox__main__base{
    font-size: 14px;
  }
}
